/**
 * Created with PyCharm.
 * User: LSJ
 * Date: 13/10/18
 * Time: 下午1:58
 * To change this template use File | Settings | File Templates.
 */
#login-wrap {
    width: 320px;
    padding: 80px 0 0;
    margin: auto;
}

#login-wrap h1 {
    font-size: 2em;
    margin: .67em 0;
}

#login-wrap table td:last-child {
    padding-left: 4px;
}

#login-wrap h1 a {
    background-image: url('../images/login-logo.png');
    background-position: top center;
    background-repeat: no-repeat;
    height: 67px;
    text-indent: -9999px;
    outline: 0;
    overflow: hidden;
    padding-bottom: 15px;
    display: block;
}

#login-wrap  form {
    margin-left: 8px;
    padding: 26px 24px 26px;
    font-weight: normal;
    background: #fff;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px -1px;
    box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px -1px;
}

#login-wrap #nav, #login-wrap #backtoblog {
    text-shadow: #fff 0 1px 0;
    margin: 0 0 0 16px;
    padding: 16px 16px 0;
}
#login-wrap #link  {
    text-shadow: #fff 0 1px 0;
    padding: 16px 16px 0;
}
#login-social {
    margin-top: 10px;
    margin-bottom: 10px;

}

.msg-box {
width: 350px;
padding-top: 250px;
}