{% extends "../../public_layout.html" %}
{% block headerarea %}
<link rel="stylesheet" href="{{ static_url("css/client_setting.css") }}" media="screen">
{% end %}
{% block body %}

<div id="setting-box">
    <div class='panel panel-default'>
        <form id='request_form' role='form' method="POST" action="{{ webroot_url("client/setting/") }}">
            {% raw xsrf_form_html() %}
            <div class='form-group'>
                <label class='control-label' for='inputAccount'>Account</label>
                <input class='form-control' readonly id='inputAccount' name='inputAccount' size='30' type='text' value='{{ user['user_login'] }}'/>
            </div>
             <div class='form-group'>
                <label class='control-label' for='inputDisplayName'>Display Name</label>
                <input class='form-control' id='inputDisplayName' name='inputDisplayName' size='30' type='text' value='{{ user['display_name'] }}'/>
            </div>

            <div class='form-group'>
                <label class='control-label' for='inputPass'>New Password</label>
                <input class='form-control' id='inputPass' name='inputPass' size='30' type='password'/>
            </div>
            <div class='form-group'>
                <label class='control-label' for='re_pass'>確認密碼</label>
                <input class='form-control' id='re_pass' name='re_pass' size='30' type='password'/>
            </div>
            <div class='form-group'>
                <label class='control-label' for='inputEmail'>電子郵箱</label>
                <input class='form-control' id='inputEmail' name='inputEmail' size='30' type='text' value='{{ user['user_email'] }}'/>
            </div>

            <div class='form-group'>
                <label class='control-label' for='inputUrl'>Personal WebSite</label>
                <input class='form-control' id='inputUrl' name='inputUrl' size='30' type='text' value='{{ user['user_url'] }}'/>
            </div>



            <div class='form-actions'>
                <input type='submit' class='btn btn-block btn-success' value='Update'/>
            </div>
        </form>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="msgBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog msg-box">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="msgTitle">Please Wait</h4>
            </div>
            <div class="modal-body" id="msgBody">

            </div>
            <div class="modal-footer">
                <button id="btn-close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->


{% end %}


{% block scriptlist %}
<script>
   /**
 * Created with PyCharm.
 * User: LSJ
 * Date: 13/10/18
 * Time: 下午5:58
 * To change this template use File | Settings | File Templates.
 */

(function () {
// bind events //
    $("#setting-box #change-valid").click(function (e) {
        changeValid();
        return false;
    });

    $("#setting-box #request_form").submit(submit);
    var displayName, pass, email, personUrl, isChange = false, cookieXrsf;

    function changeValid() {
        $img = $("img#valid-img");
        var url = $img.prop("src");
        var newUrl = url.replace(/\?_dc=[0-9]+/, "");
        newUrl += "?_dc=" + Math.floor(Math.random() * 10000) + 1;
        $img.prop("src", newUrl);
    }

    function submit(e) {
        $this = $(this);
        if (checkvalid() == false) {
            formShake();
            return false;
        }


        showModelMsg("Please Wait", "Requesting...");
        var formAction = $this.attr("action");
        $.ajax({
            url: formAction, type: 'post', dataType: 'json', data: {
                '_xsrf':cookieXrsf,
                'email': email, 'personal_url': personUrl, 'display_name': displayName, 'password': pass
            }, async: true, cache: false, success: function (res) {
                setModelBtn(true);
                if (res && res.success) {
                    setMsg("Success", "Data has updated");
                    isChange = true;
                } else {

                    var msg = "Update Failed!";
                    if (res && res.msg) {
                        msg = res.msg;
                    }
                    setMsg("Error", msg);
                    changeValid();
                }
            }, error: function (res) {
                setModelBtn(true);
                var msg = "Request Failed!";
                if (res && res.msg) {
                    msg = res.msg;
                }
                setMsg("Error", msg);
                changeValid();
            }
        });


        return false;
    }


    function checkvalid() {

        displayName = $("#setting-box #inputDisplayName").val().trim();
        email = $("#setting-box #inputEmail").val().trim();
        pass = $("#setting-box #inputPass").val().trim();
        var re_pass = $("#setting-box #re_pass").val().trim();
        personUrl = $("#setting-box #inputUrl").val().trim();
        cookieXrsf = $("#setting-box input[name=_xsrf]").val();


        if (email == "" || displayName == "") {
            return false;
        }
        if (pass != "" || re_pass != "") {
            if (pass != re_pass) {
                return false;
            }
            if (pass.length < 4) {
                return false;
            }
        }

        return true;

    }

    function showModelMsg(title, msg) {
        $("#msgBox").modal({backdrop: false});
        setModelBtn(false);
        setMsg(title, msg);

    }

    function hideModelMsg() {
        $("#msgBox").modal('hide');
    }

    $('#msgBox').on('hidden.bs.modal', function () {
        // do something…
        if (isChange) {
                location.reload();
        }
    });

    function setMsg(title, msg) {
        $("#msgBox #msgTitle").html(title);
        $("#msgBox #msgBody").html(msg);
    }

    function setModelBtn(flag) {
        $("#msgBox #btn-close").attr("disabled", !flag);

    }

    function form_focus() {

        setTimeout(function () {
            try {
                d = $("#setting-box #inputAccount");
                d.focus();
                d.select();
            } catch (e) {
            }
        }, 200);
    }

    form_focus();

    function formShake() {
        var id = "#setting-box";
        var p = new Array(15, 30, 15, 0, -15, -30, -15, 0);
        p = p.concat(p.concat(p));
        $(id).css("position", 'relative');
        _shake(id, p, 12);
    }

    function _shake(id, a, d) {
        c = a.shift();
        console.log(c);
        $(id).css("left", c + "px");
        if (a.length > 0) {
            setTimeout(function () {
                _shake(id, a, d);
            }, d);
        } else {
            try {
                $(id).css("position", 'static');

                form_focus();
            } catch (e) {

            }
        }
    }
})();



</script>
{% end %}

