{% extends "../simple_layout.html" %}
{% block headerarea %}
<link rel="stylesheet" href="{{ static_url("css/reset_password.css") }}" media="screen">
{% end %}
{% block body %}


<div id="login-wrap">
    <h1><a href="{{ webroot_url("") }}" title="{{ web_description }}">{{ web_title }}</a></h1>
    <div id="login-form-box">
        <section class="login-inner-form active">

            <form id="login-form" class="form-vertical" action="{{ webroot_url("auth/reset_pass/",None) }}"
                  method="POST">
                {% if isError is True %}
                <div>
                    The token is out of date or could not find your record!!!
                </div>
                {% else %}
                <input type="hidden" name="Login[token]" value="{{ token }}" id="inputToken"/>

                <div class='form-group'>
                    <label class='control-label' for='inputAccount'>用戶名</label>
                    <input class='form-control' id='inputAccount' placeholder="Username" name="Login[username]"
                           size='30' type='text' value='{{ login_name }}' readonly/>
                </div>

                <div class='form-group'>
                    <label class='control-label' for='inputPassword'>New Password</label>
                    <input class='form-control' id='inputPassword' placeholder="Password" name="Login[newPass]"
                           size='30' type='password' value=''/>
                </div>
                <div class='form-group'>
                    <label class='control-label' for='inputConfirmPassword'>Confirm Password</label>
                    <input class='form-control' id='inputConfirmPassword' placeholder="Confirm" name="Login[rePassword]"
                           size='30' type='password' value=''/>
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-success btn-block btn-large">Login</button>
                </div>
                {% end %}
            </form>
        </section>

    </div>


</div>


<!-- Modal -->
<div class="modal fade" id="msgBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog msg-box">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="msgTitle">Please Wait</h4>
            </div>
            <div class="modal-body" id="msgBody">

            </div>
            <div class="modal-footer">
                <button id="btn-close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

{% end %}
{% block scriptlist %}
<!-- Scripts -->

<script>
    /**
 * Created with PyCharm.
 * User: LSJ
 * Date: 13/10/18
 * Time: 下午5:58
 * To change this template use File | Settings | File Templates.
 */

(function () {
// bind events //

    $("#login-wrap #login-form").submit(submit);
    var token, pass, confirmPass, emailHasSent = false;


    function submit(e) {
        $this = $(this);
        if (checkvalid() == false) {
            formShake();
            return false;
        }
        $this[0].reset(); // reset form //


        showModelMsg("Please Wait", "Requesting...");
        var formAction = $this.attr("action");
        $.ajax({
            url: formAction, type: 'post', dataType: 'json', data: {
                'Login[token]': token, 'Login[pass]': pass
            }, async: true, cache: false, success: function (res) {
                setModelBtn(true);
                if (res && res.success) {
                    setMsg("Success", "The New Password has been sent to your Email.");
                    emailHasSent = true;
                } else {

                    var msg = "Request Failed!";
                    if (res && res.msg) {
                        msg = res.msg;
                    }
                    setMsg("Error", msg);
                    changeValid();
                }
            }, error: function (res) {
                setModelBtn(true);
                var msg = "Request Failed!";
                if (res && res.msg) {
                    msg = res.msg;
                }
                setMsg("Error", msg);
                changeValid();
            }
        });


        return false;
    }


    function checkvalid() {
        token = $("#login-wrap #inputToken").val().trim();
        pass = $("#login-wrap #inputPassword").val().trim();
        confirmPass = $("#login-wrap #inputConfirmPassword").val().trim();
        if (token == "" || confirmPass == "" || pass == "") {
            return false;
        }
        if (confirmPass != pass || pass.length < 4) {
            return false;
        }
        return true;

    }

    function showModelMsg(title, msg) {
        $("#msgBox").modal({backdrop: false});
        setModelBtn(false);
        setMsg(title, msg);

    }

    function hideModelMsg() {
        $("#msgBox").modal('hide');
    }

    $('#msgBox').on('hidden.bs.modal', function () {
        // do something…
        if (emailHasSent) {
            location.replace("/");
        }
    });

    function setMsg(title, msg) {
        $("#msgBox #msgTitle").html(title);
        $("#msgBox #msgBody").html(msg);
    }

    function setModelBtn(flag) {
        $("#msgBox #btn-close").attr("disabled", !flag);

    }

    function form_focus() {

        setTimeout(function () {
            try {
                d = $("#login-wrap #inputPassword");
                d.focus();
                d.select();
            } catch (e) {
            }
        }, 200);
    }

    form_focus();
    function formShake() {
        var id = "#login-form";
        var p = new Array(15, 30, 15, 0, -15, -30, -15, 0);
        p = p.concat(p.concat(p));
        $(id).css("position", 'relative');
        _shake(id, p, 12);
    }

    function _shake(id, a, d) {
        c = a.shift();
        console.log(c);
        $(id).css("left", c + "px");
        if (a.length > 0) {
            setTimeout(function () {
                _shake(id, a, d);
            }, d);
        } else {
            try {
                $(id).css("position", 'static');

                form_focus();
            } catch (e) {

            }
        }
    }
})();

</script>
{% end %}




