<p>
{{ web_title }} Account Management System
</p>
<p>
{{ website_url }}
</p>
<p>
-------------------------------------------------------
</p>
<p>
Dear {{ login_user }}</p>
<p>
Thank you for using the {{ web_title }} Account Management System.
This e-mail has been automatically sent by the {{ web_title }} Account Management System to inform you that your password have been successfully changed.
</p>
<p>
This is your new pass: <span style="color: #bc0000;">{{ newPass }}</span><br />
Make sure to take care of it.
</p>

<p>
-------------------------------------------------------
</p>
<p>
For inquiries regarding products and services, please visit the {{ web_title }} Support Center.
</p>
<p>
 {{ website_url }}<br/>
 {{ admin_email }}
</p>
<p>
-------------------------------------------------------
</p>